<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>文章详情</title>
     <link rel="stylesheet" type="text/css" href="/static/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <script src="../static/js/jquery-1.12.4.min.js"></script>
    <script type="text/javascript">
        window.onload=function () {
            //http://localhost:8083/v1/content?id=17&articleType=%E8%AF%B7%E9%97%AE
            var href=window.location.href;
            console.log(href);
            var hrefdata=href.split("?")[1];
            var strdata=hrefdata.split("&");
            var id=strdata[0].split("=")[1];
            var type=decodeURI(strdata[1].split("=")[1], "utf-8");
            var str={"id":id};
            var data=JSON.stringify(str);
            $.ajax({
                url:"/v1/content",
                type:"post",
                data:data,
                success:function (data) {
                    console.log(data);
                    $.each(data,function (index,values) {
                        var title;
                        var content;
                        var count;
                        var usernames="";
                        var time;
                        var img;
                        if (index=="article"){
                            $.each(values,function (index,value) {
                                if (index=="Title"){
                                    title=value;
                                }
                                if (index=="Content"){
                                    content=value;
                                }
                                if(index=="Count"){
                                    count=value;
                                }
                                if (index=="Time"){
                                    time=value;
                                }
                                if (index=="Img"){
                                    img=value;
                                }
                            });
                            $("#detail_title").text(title);
                            $("#detail_type").text(type);
                            $("#detail_content").text(content);
                            $("#detail_img").attr("src",img)
                            $("#detaile_count").text(count);
                            $("#detail_time").text(time);
                        }
                        if (index=="users"){
                            $.each(values,function (index,vals) {
                               $.each(vals,function (key,val) {
                                   if (key=="Username"){
                                       usernames=usernames+val+" | ";
                                   }
                               });
                            });
                            $("#detail_username").text(usernames);
                        }
                    });
                },
                error:function () {
                    alert("失败");
                }
            })
        }
    </script>
</head>
<body>
    <div class="header">
        <a href="#" class="logo fl"><img src="/static/img/logo.png" alt="logo"></a>
        <a href="#" class="logout fr">退 出</a>
    </div>

    <div class="side_bar">
        <div class="user_info">
            <img src="/static/img/person.png" alt="张大山">
            <p>欢迎你 <em>李雷</em></p>
        </div>

        <div class="menu_con">
            <div class="first_menu active"><a href="javascript:;" class="icon02">文章管理</a></div>
            <ul class="sub_menu show">
                <li><a href="#" class="icon031">文章列表</a></li>
                <li><a href="#" class="icon032">添加文章</a></li>
                <li><a href="#" class="icon034">添加分类</a></li>
            </ul>
        </div>
    </div>

        <div class="main_body" id="main_body">
        <div class="breadcrub">
            当前位置：文章管理>文章列表>文章详情
        </div>
        <div class="pannel">
            <h3 class="review_title">文章详情</h3>
            <div class="form_group">
                <label>文章标题：</label>
                <p class="detail" id="detail_title"><b></b></p>
            </div>
            <div class="form_group">
                <label>文章类型：</label>
                <p class="detail" id="detail_type"></p>
            </div>
            <div class="form_group">
                <label>文章封面：</label>
                <img src="" id="detail_img" width="100px" height="100px">
            </div>
            <div class="form_group">
                <label>文章内容：</label>
                <p class="detail" id="detail_content"></p>
            </div>
            <div class="form_group">
                <label>阅读次数：</label>
                <p class="detail" id="detaile_count"></p>
            </div>
            <div class="form_group">
                <label>最近浏览：</label>
                <p class="detail" id="detail_username">
                </p>
            </div>
            <div class="form_group">
                <label>创建时间：</label>
                <p class="detail" id="detail_time"></p>
                <span>{{.errmsg}}</span>
            </div>
        </div>
    </div>
</body>
</html>
